@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
    background-color: #fbfefb;
}

nav {
    background-color: #427aa1; 
    text-align: center; 
    padding: .5em;
    box-shadow: 0 2px 10px; 
}

nav ul {
    overflow: hidden; 
    padding: 0; 
    margin: 0; 
    list-style: none;
}

header {
    font-family: 'Monserrat', sans-serif; 
}

.header {
    display: flex; 
    justify-content: center;
}


.wrapper {
    margin: auto;
    width: 100%;
}

main {
    font-family: 'Crimson Text', sans-serif;
    font-size: 18px;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none; 
    font-size: 1.6rem;
    color: #d9f0ff 
}

nav li a {
    display: block; 
    text-align: center; 
    padding: 1rem; 
    text-decoration: none;
    font-size: 18px; 
    color: #d9f0ff; 
}

nav ul li a {
    display: block; 
    padding: .8rem 2%;
    text-decoration: none;
    color:  #eaebed; 

}

nav ul li a:hover {
    background-color: #d9f0ff;
    color: black; 
    
}
.contact-information {
    background-color:  #fbfefb; 
    border: 1px solid black; 
    padding: 50px;
}

footer {
    font-family:  'Monserrat', sans-serif;
    background-color: #427aa1;
    border: 1px solid black;
    text-align: center;
    max-width: 960px;
    margin: 0 auto; 
    padding: 0.5em; 
    color: #eaebed;

}

.footerlink {
    color: #eaebed; 
}

nav ul li.active a{background-color: rgba(0,0,0,0.2); color: #fff;}

nav ul.hide {display: none;}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  /*Lesson 5 Updates */ 

.mainimage {
    position: relative;
    border: 1px;
}
.mountainimage {
    margin: 10px auto;
    border: 1px solid #333; 
    width: 100%; 
    height: 300px; 
}

.weathersummary {
    color: black;
    position: absolute; 
    top: 25px;
    left: 20px; 
    padding: 0.5rem; 
    border: 2px solid;
    background: radial-gradient(rgb(254, 255, 255), rgb(61, 69, 73));
    opacity: .8;
    box-shadow: 0 0 30px white;

}

.forecast{
    display: none;
}
.article {
    background-color:  #fbfefb; 
    border: 1px solid black; 
    padding: 25px;
    margin: 20px;  
}
.pumpkin {
    float: right; 
    height: 150px;
}
#article-title {
    font-family:  'Monserrat', sans-serif;
    text-align: center;
    font-weight: bold;
}
.map {
    display: none;
}
.information{
    list-style-type: none;
    text-align: left;
    flex-direction: column; 
    font-size: 25px;

}

#pop-up{
    background-color: lightblue;
    padding: 15px; 
    text-align: center;
    display: none;
}



