@media only screen and (min-width: 64rem) {

nav button {display: none;}

header {
    width: 100%; 
}
nav ul.hide {
    justify-content: space-around;
    display: flex;
}

nav ul li {
    justify-content: space-around;
    display: flex;

}

nav ul li a{border: none;
    padding: .8rem 1rem; 
}

.contact-information {
    height: 250px;
}
.gallery {
    padding: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    background-color: #d9f0ff
}

.grid-item p {
    width: 100%
}
.grid-item:hover {
    box-shadow: 0 0 20px #555;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    
}


.left {
    display: block;
        
}

.title {
    text-align: center;
}

.name {
    display: block; 
}


.weathersummary {
    display: inline-block; 
}
    
.gallery-page {
    display: block; 
}
.fiveday {
    display: inline-block; 
}
.weathersummary {
    position: absolute; 
    color: black;
    left: 20px; 
    top: 25px;
    border: 2px solid;
    padding: 0.5rem; 
    opacity: .8;
    background: radial-gradient(rgb(254, 255, 255), rgb(159, 164, 167));
    box-shadow: 0 0 30px white;
}

.information {
    width: 500px;
}


}
   